<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.3/phpunit.xsd">
    <testsuites>
        <testsuite name="DoctrineLogBridge">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="tmp/report"/>
        <log type="testdox-html" target="tmp/testdox.html"/>
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>